/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define L1 1
#define L2 2

&mt {
  tapping-term-ms = <400>;
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// --------------------------------------------------------------------------------------
// | TAB      | Q | W | E     | R       | T     | Y  | U       | I     | O | P |  -     |
// | CTRL/ESC | A | S | D     | F       | G     | H  | J       | K     | L | ; | CTRL/' |
// | ALT/[    | Z | X | C     | V       | B     | N  | M       | ,     | . | / | ALT/]  |
//                    | LWR/{ | GUI/SPC |  SHFT/BSPC | GUI/RET | RSE/} |
                        bindings = <
   &kp TAB        &kp Q &kp W &kp E       &kp R        &kp T   &kp Y  &kp U         &kp I       &kp O   &kp P    &kp MINUS
   &mt LCTRL ESC  &kp A &kp S &kp D       &kp F        &kp G   &kp H  &kp J         &kp K       &kp L   &kp SEMI &mt RCTRL SQT
   &mt LALT LBKT  &kp Z &kp X &kp C       &kp V        &kp B   &kp N  &kp M         &kp COMMA   &kp DOT &kp FSLH &mt RALT RBKT
                              &lt L1 LBRC &mt LGUI SPC &mt LSHFT BSPC &mt RGUI RET &lt L2 RBRC
                        >;
                };

                lower_layer {
// --------------------------------------------------------
// | ` | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 0 | = |
// |   | 6 | 7 | 8 | 9 | 0 |   |   |   |   |   | \ |
// |   |   |   |   |   |   |   |   |   |   |   |   |
//                 |   |  BKSP |   |   |
                        bindings = <
   &kp GRAVE &kp N1 &kp N2 &kp N3  &kp N4  &kp N5 &kp N6  &kp N7  &kp N8 &kp N9 &kp N0 &kp EQUAL
   &trans    &kp N6 &kp N7 &kp N8  &kp N9  &kp N0 &trans  &trans  &trans &trans &trans &kp BSLH
   &trans    &trans &trans &trans  &trans  &trans &trans  &trans  &trans &trans &trans &trans
                           &trans  &trans  &kp BSPC       &trans  &trans
                        >;
                };

                raise_layer {
// ---------------------------------------------------------------
// | ~ | ! | @ | # | $ | % |     |  ^  |  &  |  *  |  (  | ) | + |
// |   | ^ | & | * | ( | ) |     | LFT | DWN |  UP | RGT |   | | |
// |   |   |   |   |   |   |     |     |     |     |     |   |   |
//                 |   |   | RET |     |     |
                        bindings = <
   &kp TILDE &kp EXCL  &kp AT   &kp HASH &kp DLLR &kp PRCNT      &kp CARET &kp AMPS &kp STAR &kp LPAR  &kp RPAR &kp PLUS
   &trans    &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR       &kp LEFT  &kp DOWN &kp UP   &kp RIGHT &trans   &kp PIPE
   &trans    &trans    &trans   &trans   &trans   &trans         &trans    &trans   &trans   &trans    &trans   &trans
                                         &trans   &trans &kp RET &trans    &trans
                        >;
                };

                adjust_layer {
// -----------------------------------------------------------------------------------------
// | RGB BRI+ | RGB SAT+ | RGB HUE+ | RGB ANI+ |    | RGB TOG |   |  BT1  | BT2 | BT3 | BT4 | BT5 | BT CLR |
// | RGB BRI- | RGB SAT- | RGB HUE- | RGB ANI- |    |         |   |       |     |     |     |     |        |
// |          |          |          |          |    |         |   | RESET |     |     |     |     |        |
//                                              |     |     |     |     |     |
                        bindings = <
   &rgb_ug RGB_BRI &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_EFF &none &rgb_ug RGB_TOG    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
   &rgb_ug RGB_BRD &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_EFR &none &none              &none        &none        &none        &none        &none        &none
   &none           &none           &none           &none           &none &none              &reset       &none        &none        &none        &none        &none
                                                             &trans      &trans       &tog 3        &trans      &trans
                        >;
                };
        };
};
